<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uw.ictd.respeak"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
         <!-- Needed for Dropbox Sync API -->
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-07r2uvgq7r0446r" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />
        
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListenActivity"
            android:label="@string/title_activity_listen" >
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name=".SubmissionActivity"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name=".SubmissionConfirmationActivity"
            android:label="@string/title_activity_thank_you" >
        </activity>
         <activity
            android:name=".PayScaleActivity"
            android:label="@string/title_activity_pay_scale" >
        </activity>
        <activity
            android:name=".TrainingActivity"
            android:label="@string/title_activity_training" >
        </activity>
    </application>

</manifest>